﻿html {
  font-size: 16px;
}
.media-body .author {
  display: block;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}
.media-body .metadata {
  display: block;
  color: #000;
  font-size: .75rem;
}
.title-comments {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(0,0,0,.87);
  margin-bottom: 1rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid rgba(34,36,38,.15); 
}
.media-left img {
  width: 70px;
}
.media {
  margin-top:0px;
}
.media-text {
  margin-bottom: 10px;
}


