﻿@model NewsProject.Models.HomeViewModels.MoreViewModel
@{
    ViewBag.Title = "Новость: " + Model.News.Head;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.News.Head</h2>
<p>
    @Html.Raw(Model.News.Body)
</p>
<p align=right>@string.Format("{0} : {1:MM.dd.yyyy}", Model.News.Author,Model.News.CreationDate.Date)</p>
<td><div align="right"><a class="btn btn-primary" href="/Home/Edit/@Model.News.Id">Редактировать новость &raquo;</a></div></td>
<hr /><hr />


<div class="comments">
    <h5 class="title-comments">Комментарии (@Model.Comments.Count())</h5>
    
    <ul class="media-list">

        @foreach (var b in Model.Comments)
        {
            <li class="media">
                <div class="media-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div>@string.Format("{0}  {1:dd.MM.yyyy hh:mm}", b.AuthorName, b.CreationDate)</div>
                        </div>
                        <div class="panel-body">
                            <div class="media-text text-justify">@b.Body</div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>



@using (Html.BeginForm("More", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Добавить комментарий</h4>
    <hr />
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.NewComment.AuthorName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewComment.AuthorName, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.NewComment.NewsId, new { @class = "form-control", @type = "hidden", @Value = Model.News.Id })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewComment.Body, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.NewComment.Body,3,100,null)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Добавить комментарий" />
        </div>
    </div>
}




